/* .scroll-div {
    height: 200px;
    overflow-y: auto;
    margin: 15px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #787777;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 500px;
    background-color: #f4f4f4;
} */
.scroll-div {
    height: 200px;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #787777;
    margin: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 30px;
    border: 2px solid black;
    background-color: #f4f4f4;
}

.bathroom-location {
    display: flex;
    align-items: center;
    justify-content: left;
}

@media screen and (max-width: 768px) {
    .scroll-div {
        width: 75%;
    }
}
